body {
  background-color: #f9fafb;
  margin-top: 20px;
}

.profile-page .profile-header {
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  border: 1px solid #f2f4f9;
}

.profile-page .profile-header .cover {
  position: relative;
  border-radius: 0.25rem 0.25rem 0 0;
  /* max-height: 600px; */
}

.profile-page .profile-header .cover figure {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .profile-page .profile-header .cover figure {
    height: 110px;
    overflow: hidden;
  }
}

@media (min-width: 2400px) {
  .profile-page .profile-header .cover figure {
    height: 280px;
    overflow: hidden;
  }
}

.profile-page .profile-header .cover figure img {
  border-radius: 0.25rem 0.25rem 0 0;
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .profile-page .profile-header .cover figure img {
    -webkit-transform: scale(2);
    transform: scale(2);
    margin-top: 15px;
  }
}

@media (min-width: 2400px) {
  .profile-page .profile-header .cover figure img {
    margin-top: -55px;
  }
}

.profile-page .profile-header .cover .gray-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(rgba(255, 255, 255, 0.1), #fff 100%);
}

.profile-page .profile-header .cover .cover-body {
  position: absolute;
  bottom: -60px;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0 20px;
}

.profile-page .profile-header .cover .cover-body .profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@media (max-width: 767px) {
  .profile-page .profile-header .cover .cover-body .profile-pic {
    width: 70px;
    height: 70px;
  }
}

.profile-page .profile-header .cover .cover-body .profile-name {
  font-size: 20px;
  font-weight: 600;
  margin-left: 17px;
}

.profile-page .profile-header .header-links {
  padding: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #fff;
  border-radius: 0 0 0.25rem 0.25rem;
}

.profile-page .profile-header .header-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile-page .profile-header .header-links ul li a {
  color: #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.profile-page .profile-header .header-links ul li:hover,
.profile-page .profile-header .header-links ul li.active {
  color: #727cf5;
}

.profile-page .profile-header .header-links ul li:hover a,
.profile-page .profile-header .header-links ul li.active a {
  color: #727cf5;
}

.profile-page .profile-body .left-wrapper .social-links a {
  width: 30px;
  height: 30px;
}

.profile-page .profile-body .right-wrapper .latest-photos > .row {
  margin-right: 0;
  margin-left: 0;
}

.profile-page .profile-body .right-wrapper .latest-photos > .row > div {
  padding-left: 3px;
  padding-right: 3px;
}

.profile-page .profile-body .right-wrapper .latest-photos > .row > div figure {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 6px;
}

.profile-page
  .profile-body
  .right-wrapper
  .latest-photos
  > .row
  > div
  figure:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.profile-page
  .profile-body
  .right-wrapper
  .latest-photos
  > .row
  > div
  figure
  img {
  border-radius: 0.25rem;
}

.rtl .profile-page .profile-header .cover .cover-body .profile-name {
  margin-left: 0;
  margin-right: 17px;
}

.img-xs {
  width: 37px;
  height: 37px;
}

.rounded-circle {
  border-radius: 50% !important;
  height: 35px;
  width: 35px;
}

img {
  vertical-align: middle;
  border-style: none;
}

.card-header:first-child {
  border-radius: 0 0 0 0;
}

.card-header {
  padding: 0.875rem 1.5rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #f2f4f9;
}

.card-footer:last-child {
  border-radius: 0 0 0 0;
}

.card-footer {
  padding: 0.875rem 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid #f2f4f9;
}

.grid-margin {
  margin-bottom: 1rem;
}

.card {
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}

.rounded {
  border-radius: 0.25rem !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #f2f4f9;
  border-radius: 0.25rem;
}

.half-circle-btn {
  position: absolute;
  opacity: 0;
  left: 20px;
  top: 50px;
  width: 100px;
  /* Adjust width as needed */
  height: 50px;
  /* Height is half of the width */
  background-color: #000000;
  /* Green background color */
  border: none;
  border-radius: 0 0 50px 50px;
  /* Half of the width */
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.half-circle-btn:hover {
  opacity: 0.5;
  /* Opacity on hover */
}

@media (max-width: 767px) {
  .half-circle-btn {
    width: 70px;
    height: 35px;
    top: 36px;
  }
}

.block-col-2 .demonstration {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}

.block-col-2 .el-dropdown-link {
  display: flex;
  align-items: center;
}

.profile-img-list {
  list-style-type: none;
  margin: -0.1rem;
  padding: 0;
}

.profile-img-list .profile-img-list-item.three {
  width: calc(100% / 3);
}

.profile-img-list .profile-img-list-item.two {
  width: 50%;
}

.profile-img-list .profile-img-list-item.one {
  width: 100%;
}

.profile-img-list .profile-img-list-item.two .profile-img-content img {
  height: 200px;
  width: 100%;
}

.profile-img-list .profile-img-list-item.two .profile-img-content video {
  height: 200px;
  width: 100%;
}

.profile-img-list .profile-img-list-item.three .profile-img-content video {
  height: 200px;
  width: auto;
}

.profile-img-list .profile-img-list-item.three .profile-img-content img {
  height: 200px;
  width: auto;
}

.profile-img-list .profile-img-list-item.one .profile-img-content img {
  width: auto;
  height: auto;
}

.profile-img-list .profile-img-list-item.one .profile-img-content video {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.profile-img-list .profile-img-list-item.two .profile-img-content video {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.profile-img-list .profile-img-list-item.with-number {
  width: calc(100% / 3);
}

.profile-img-list .profile-img-list-item.with-number .profile-img-content img {
  width: auto;
  height: 200px;
}

.profile-img-list
  .profile-img-list-item.with-number
  .profile-img-content
  video {
  width: auto;
  height: 200px;
}

.profile-img-list:after,
.profile-img-list:before {
  content: '';
  display: table;
  clear: both;
}

.profile-img-list .profile-img-list-item {
  width: 25%;
  padding: 0.1rem;
  float: left;
}

.profile-img-list .profile-img-list-item .profile-img-list-link {
  display: block;
  overflow: hidden;
  position: relative;
}

.profile-img-list
  .profile-img-list-item
  .profile-img-list-link
  .profile-img-content,
.profile-img-list .profile-img-list-item .profile-img-list-link img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-img-list-link video {
  max-width: 100%;
  max-height: 666px;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-img-list
  .profile-img-list-item
  .profile-img-list-link
  .profile-img-content:before,
.profile-img-list .profile-img-list-item .profile-img-list-link img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-img-list .profile-img-list-item {
  width: 25%;
  padding: 0.1rem;
  float: left;
}

.profile-img-list:after,
.profile-img-list:before {
  content: '';
  display: table;
  clear: both;
}

.profile-img-list .profile-img-list-item.with-number .profile-img-number {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #000;
  font-size: 1.53125rem;
  font-weight: 600;
  line-height: 1.625rem;
  margin-top: -0.765625rem;
  text-align: center;
  text-shadow: 2px 2px #fff;
}

.button-comment {
  position: absolute;
  opacity: 0;
  border-radius: 20px;
  top: 0px;
  height: 38px;
  width: calc(100% - 0px);
}

.profile-img-content {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}

textarea {
  outline: none;
}

.input100 {
  position: relative;
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 31px;
  font-family: Ubuntu-Bold;
  font-size: 18px;
  color: #8f8fa1;
  line-height: 1.2;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

textarea {
  resize: none;
}

.signup-image-link {
  font-size: 14px;
  font-family: 'Poppins';
  color: #222;
  display: block;
  text-align: start;
  margin-top: -5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.signup-image-link:hover {
  text-decoration: underline; /* Thêm gạch chân khi di chuột vào */
}

.mt-3 .btn:hover {
  margin-left: 10px;
  float: right;
  border: none;
  box-shadow: none;
}

.modal-body .btn-close {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
}
